<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529715722606-6cdge74qfs3f4scp4c50rv221bg3r81e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529715722606-6cdge74qfs3f4scp4c50rv221bg3r81e</string>
	<key>API_KEY</key>
	<string>AIzaSyCxso-Bf3RJ94V8oPfLPTxgxAPQGHpYeNA</string>
	<key>GCM_SENDER_ID</key>
	<string>529715722606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bagya.appTest1</string>
	<key>PROJECT_ID</key>
	<string>ios1app</string>
	<key>STORAGE_BUCKET</key>
	<string>ios1app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:529715722606:ios:d8b278f3cc7f0451</string>
	<key>DATABASE_URL</key>
	<string>https://ios1app.firebaseio.com</string>
</dict>
</plist>
